@import 'styl/*'

html, body
    width 100%
    min-height 100%

input:active,
input:focus,
button:active,
button:focus,
select:active,
select:focus
    outline none

input.error
    border-color red !important
    margin-bottom 5px

table, tr
    width 100%

table > tr > th
    padding-bottom 12px
    text-transform uppercase
    font-size 14px
    font-weight normal
    border-bottom 2px solid #F0F0F0

table > tr > td
    padding 10px 15px
    border-left none
    border-right none

.table-container
    overflow-x auto

.text-center
    text-align center
