@import url(https://fonts.googleapis.com/css?family=Public+Sans&display=swap);.orange {
  color: #f77321;
}
.blue {
  color: #0000f5;
}
.soft-blue {
  color: #0076bd;
}
.red {
  color: #f00;
}
.display-flex {
  display: -webkit-box;
  display: flex;
}
.display-block {
  display: block;
}
html,
body {
  font-family: 'Public Sans', sans-serif !important;
  font-size: 14px;
}
html,
body {
  width: 100%;
  min-height: 100%;
}
input:active,
input:focus,
button:active,
button:focus,
select:active,
select:focus {
  outline: none;
}
input.error {
  border-color: #f00 !important;
  margin-bottom: 5px;
}
table,
tr {
  width: 100%;
}
table > tr > th {
  padding-bottom: 12px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 2px solid #f0f0f0;
}
table > tr > td {
  padding: 10px 15px;
  border-left: none;
  border-right: none;
}
.table-container {
  overflow-x: auto;
}
.text-center {
  text-align: center;
}
.mt-1 {
  margin-top: 1em;
}
.mt-2 {
  margin-top: 2em;
}
.mt-3 {
  margin-top: 3em;
}
.mt-4 {
  margin-top: 4em;
}
.mt-5 {
  margin-top: 5em;
}
