cf()
    zoom 1
    &:after
    &:before
        content ""
        display table
    &:after
        clear both

vendor(property, arg)
    {property} arg
    -webkit-{property} arg
    -moz-{property} arg

border-radius(radius = 5px)
    vendor('border-radius', radius)

transition(args)
    vendor('transition', args)

transform(args)
    vendor('transform', args)

background(args)
    vendor('background', args)

box-shadow(args)
    vendor('box-shadow', args)

padding-custom(args)
    padding args+'px'
